*{
    box-sizing: border-box;
}
html{
    font-family: "Arial";
}
body{
    background: #f7f7f7;
}

li{
    list-style: none;
}
a{
    font-size: 14px;
    color: rgb(95, 93, 103);
    line-height: 33px;
    text-decoration: none;
    transition: 0.3s;
    &:hover{
        color: black;
    }
}

h{
    &1{
        font-size: 24px;
        font-family: "Times New Roman";
        color: rgb(85, 85, 85);
        font-weight: normal;
    }
    
    &2{
        font-weight: normal;
        font-size: 24px;
        font-family: "Georgia";
        color: rgb(51, 51, 51);
    }
}